.para {
    background-color: yellow;
    border-width: 5px;
    margin: 0 20px 0 0 !important;
    padding: 0  !important;
    display: inline-block;
}
.dashed {
    border: dashed red;
    padding: 5%;
}
.solid {
    border: solid green;
    padding: 50px 0px 0px 0px;
}
.para:first-child {
    width: 300px;
    margin: 50px;
}
.para:nth-child(2) {
    width: 400px;
    margin: 0 auto;
}
.para:nth-child(3) {
    width: 200px;
    margin-left: 100px;
}
.cat-wrapper {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    overflow: hidden;
}
.img {
    width: 100%;
    height: 100%;
}