* {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
img:first-child {
    height: 200px;
    float: right;
}
img:nth-child(2) {
    width: 200px;
    clear: both;
    margin: 0 auto;
}
img:last-child {
    width: 200px;
    height: 200px;
    float: left;
}