a {
    // text-decoration: none;
    // &:link { background-color: green; }   
    &:visited { background-color: orange; }
    // &:active { background-color: yellow; }
      
       
    // &.important { font-weight: bold; }
}
